{% load staticfiles %}

<div id="about-flex">
	<div id="about-container">
		<div id="profilepic">
			<img src="{% static 'images/me.jpg' %}" />
		</div>
		<div id="about-details">
			<h1>About Me</h1>
			<p>I have been programming since I was in 
			highschool.  First, by taking C++ classes and 
			later reverse engineering HTML from webpages and writing scripts in my TI-98 graphing calculator.</p>
			<p>I went to college for film theory and for a few years worked in post production, working for independent movies, commercial production companies, a music video production company, and a tech journalism publication.
			</p>
			<p>Programming and photography were both active hobbies I had and skills I developed on the side while pursuing a film post production career.
			</p>
			<p>In 2008, a family member was staring up her own food truck concept and I was brought on to help with photography, web, and brand design.  With help from a friend we christened the company Kogi BBQ, developed the Wordpress app, the Twitter presence, and food photo catalog.  This food truck company would later start a revolution and have many others follow in what has been dubbed the "food truck craze".
			</p>
			<p>Honing my skills in web development skills and photography while working for Kogi, I started freelancing and pursuing programming and photography professionally.
			</p>
		</div>
	</div>
</div>