{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<!--Link to Icon
		<link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" />
		-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'scripts/myjs.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<title>Eric J Shin - Freelance Web Developer and Photographer</title>
	</head>
	<body>
		<div id="navbar-container">
			<div id="navbar">
				<ul>
					<li id="nav-home"><a onclick="scrolly('#main-flex')">Home</a></li>
					<li><a onclick="scrolly('#about-flex')">About Me</a></li>
					<li><a onclick="scrolly('#developer-flex')">Developer Portfolio</a></li>
					<li><a onclick="scrolly('#photos-container')">Photography Portfolio</a></li>
				</ul>
			</div>
		</div>
		{% block 'welcome' %}
		{% endblock %}
	</body>
</html>