{% extends "portfolio/base.html" %}

{% block 'welcome' %}
<div id="main-flex">
	<div id="main-container">
		<div id="hi-box">
			<div id="big-hi">
					<h1>Hi!</h1>
			</div>
			<div id="introduction">
				<p>My name is Eric, and I'm a full stack 
				web developer and freelance photographer.  Please feel free to look around.</p>
			</div>
		</div>
		<div id="btn-box">
			<div class="btn" onclick="scrolly('#developer-flex')">
				<h3 onclick=>Web Examples</h3>
			</div>
			<div class="btn" onclick="scrolly('#photos-container')">
				<h3>Photography Examples</h3>
			</div>
		</div>
		<span id="social-bar">
			<a href="https://github.com/lvaka"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/l_vaka/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="https://twitter.com/ejinshin"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</span>
	</div>
</div>
{% include 'portfolio/about.html' %}
{% include 'portfolio/developer.html' %}
{% include 'portfolio/photos.html' %}
{% endblock %}